<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item>
        <h1>Settings Page</h1>
          <ul class="list">
            <div class="item item-divider">
              Temperature Units
            </div>
          <li class="item item-toggle">
             Farenheit
             <label class="toggle toggle-calm">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Celsius
             <label class="toggle toggle-calm">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            <div class="item item-divider">
              Display Style
            </div>
          <li class="item item-toggle">
             Weekly
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Daily
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Hourly
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <div class="item item-divider">
            Temerature Precision
          </div>
          <div class="item range">
            <i>12°</i>
            <input type="range" name="precision" min="0" max="2" value="1">
            <i>12.34°</i>
          </div>
        </ul>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
